{
 "m_debuggerPort": 5858,
 "m_debuggerHost": "127.0.0.1",
 "m_scriptToExecute": "C:\\Users\\Marko\\Documents\\QTProjects\\ProjectPerun\\Server\\Server.js",
 "m_commandLineArgs": [],
 "m_breakpoints": []
}